*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
main{
    margin: 0 auto;
    max-width: 1140px;
}
.main-section{
    margin-top: 130px;
}
/* banner style */
header{
    background-image:linear-gradient(rgba(128, 128, 128, 0.438), rgba(0, 0, 0, 0.87)), url(img/donation1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-title{
    width: 70%;
    color: white;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    text-align: center;
}
.first-title{
    font-size: 50px;
    margin-bottom: 25px;
}
.main-title p{
    font-size: 15px;
    margin-bottom: 30px;
    color: rgb(233, 220, 220);
}
.primary-btn{
    border: 0;
    padding: 15px 30px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    font-size: 15px;
}
.primary-btn:hover{
    border: 1px solid white;
    background-color: transparent;
    transition: .5s;
}
/* donation area style */
.title-bar{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.donate-description{
    font-size: 15px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color:gray;
    margin-bottom: 40px;
}
.donate-amount{
    width: 50%;
    margin-left: 25%;
}
.donate-amount ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
.donate-amount ul li{
    padding: 25px 20px ;
    margin-left: 20px;
    background-color: rgb(243, 242, 242);
    color: rgb(101, 100, 100);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 50px;
}
.span{
    border: 1px solid red;
}
.sub-title{
    text-align: center;
    color: gray;
    font-size: 13px;
    font-weight: 200;
    word-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.line{
    width: 50%;
    align-items: center;
    margin-left: 25%;
    background-color: rgb(238, 233, 233);
    margin-bottom: 20px;
}
.main-section .primary-btn{
    margin-left: 45%;
}
/* donate plan area */
.main-part{
    display: flex;
    gap: 30px;
    padding: 0px 50px;
    margin-left: 4%;
}
.main-part .part-1{
    width: 300px;
    background-color: rgb(208, 222, 228);
    padding: 30px;
    border-radius: 8px;
}
.part-two{
    width: 300px;
    padding: 30px;
    background-color: rgb(240, 215, 218);
    border-radius: 8px;
}
.part-three{
    width: 300px;
    padding: 30px;
    background-color: rgb(232, 216, 194);
    border-radius: 8px;
}
.image{
    width: 40px;
    height: auto;
    margin-bottom: 20px;
}
.blog-title{
    font-size: 20px;
    margin-bottom: 20px;
}
.blog-description{
    font-size: 15px;
    font-weight: 300;
    color: rgb(108, 102, 102);
}
/* Contribution design */
.contribution-section{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin-left: 9%;
    margin-bottom: 100px;
}
img{
    width: 400px;
    height: auto;
}
.article{
    width: 350px;
}
.article h3{
    font-size: 27px;
    margin-bottom: 15px;
}
.article .article-blog{
    font-size: 13px;
    font-weight: 400;
    color: rgb(96, 93, 93);
    margin-bottom: 15px;
}
.article .article-blog2{
    font-size: 13px;
    font-weight: 400;
    color: rgb(96, 93, 93);
    margin-bottom: 15px;
}
.btn{
    border: 0;
    padding: 15px 30px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    font-size: 15px;
}
/* Form  */
.form{
    background-color:burlywood;
    width: 60%;
    padding: 60px 40px;
    margin-left: 20%;
}
.form input{
    margin-left: 110px;
    padding: 11px 40px;
    border: none;
    background-color: rgb(223, 215, 215);
}
.form button{
    padding: 11px 30px;
    background-color: coral;
    color: white;
    border: none;
}
/* footer section*/
footer{
    background-color: black;
    padding: 30px 0px;
    text-align: center;
}
footer h3{
    color: red;
    font-size: 25px;
}
footer p{
    color: white;
    font-size: 10px;
    font-weight: 200;
}
